* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
  font-size: 6rem;
  margin-bottom: 5rem;
  position: relative;
  top: 8rem;
  left: 30rem;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.recent-scores-head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.refreshBtn {
  padding: 0.7rem 2rem;
  font-size: 24px;
}

table {
  border-collapse: collapse;
  font-size: 2rem;
  width: 80vh;
  border: 5px solid black;
}

td,
th {
  text-align: left;
  padding: 1rem;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.scores-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  gap: 2rem;
}

.scores-form input {
  padding: 0.6rem;
  font-size: 20px;
  width: 100%;
}

.addBtn {
  padding: 0.8rem 2.5rem;
  font-size: 22px;
}
